<nav class="navbar navbar-expand-lg fixed-top bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: rgb(91, 0, 176);"><strong>SPEND <i class="fa-solid fa-money-check-dollar" style="color: #5b00b0;"></i> WISE</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/signup">SignUp</a>
          </div>
      </div>
  </div>
</nav>
<script src="https://kit.fontawesome.com/f798946187.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>