<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <%if(success) {%>
        <div class="alert alert-success">
            <%= success %>
        </div>
    <%}%>
    <%if(error){%>
        <div class="alert alert-danger">s
            <%= error %>
        </div>
    <%}%>
    <div class="container">
        <h1 class="heading">New Income</h1>

        
    <form class="modal-dialog modal-dialog-centered" method="POST" action="/<%= username %>/addinc">
        <p>Amount :</p>
       
        <input type="text" name="Trans[amount]" placeholder="Enter amount">
        
        <p>Date :</p>

        <input type="date" name="Trans[date]" placeholder="Select Date">
        

        <p>Category :</p>
        
        <select type="text" name="Trans[category]" placeholder="Select Category">
            <option value="" disabled selected>Select Category</option>
            <option value="Salary">Salary</option>
            <option value="Wages">Wages</option>
            <option value="Bonus">Rent</option>
            <option value="Freelance">Freelance</option>
            <option value="Rental">Rental</option>
            <option value="Refunds">Refunds</option>
            <option value="Gifts">Gifts</option>
            <option value="Others">Others</option>
        </select>
        
        
        <p>Description:</p>
        
        <textarea type="text" name="Trans[desc]"placeholder="Enter desc"></textarea>
        
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>