<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dash2.css">
    <title>SPENDWISE</title>
</head>
<body>
    <%- include("../includes/nav2.ejs",{username:username}) %>
    <h1 class="intro">Welcome <%= username %></h1>
    <h1 class="mainline">OOPS..</h1>
    <h2 class="para">You Have Nothing Here</h2>
    <h2 class="para">Start by entering new income or expense record</h2>
    
</body>
</html>