<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPENDWISE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navi1.css">
</head>
<body>
    <%- include("../includes/nav1.ejs") %>
    <div class="info">
        <h1 style="font-size: 300%;">SPENDWISE</h1>
        
        <h2 style="font-size: 300%; color: blueviolet;">Expense Tracking On The Go...</h2>
        <br>
        <h6 style="font-size: 150%; color: rgb(134, 129, 129);">Log expenses and incomes in real-time, no matter where you are</h6>
        <h6 style="font-size: 150%;color: rgb(134, 129, 129)">SpendWise makes it easy to keep track of your spending on the go.</h6>
        <br>
        <h6 style="font-size: 150%; color: rgb(206, 170, 240);">Be Wise ... Spend Wise </h6>
        <br>
        <p>Not yet Registered ? SignUp Now</p>
        <a href="/signup" class="btn btn-outline-light me-2" role="button">Sign Up</a>
    </div>

 
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>