body{
    background-color: rgb(32, 31, 33);
}
.mainline{
    color: rgb(92, 0, 179);
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 300%;

    
}
.intro{
    color: rgb(92, 0, 179);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 300%;
}
.para{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
