body {
    font-family: Arial, sans-serif; 
    background-color: rgb(32, 31, 33); 
    
}
    

.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    font-size: 100%;
    width: 400px; 
    margin: 6% auto; 
    background-color: rgba(185, 184, 185, 0.251); 
    
    padding: 20px; 
    border-radius: 5px; 
}

form {
    color: rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

input[type="text"],
input[type="password"],
button {
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 3px; 
}

button {
    background-color: rgb(172, 120, 220); 
    color: #fffeff; 
    border: none; 
    cursor: pointer; 
}
.logo{
    flex:1;
    padding:20px;
}
.logo img {
    max-width: 100%;
    height: auto;
}
.logo img {
    max-width: 100%; 
    height: auto; 
}
button:hover {
    background-color: #47016d; 
}
.alert{
   
    width: 400px;
    margin: 1% auto
}